@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
*{
  font-family: "Montserrat";
}
// making code easier
h1,
h5,
h6,
p,
a,
.text_change
{
  color: var(--secondary-color);
}

.card-body,
.card-header,
.card-footer
{
  border: 1px solid var(--secondary-color);
}
#profile{
  border: 2px solid var(--secondary-color);
}

// root 
:root{
  --primary-color:#ffffff;
  --secondary-color:#0080ff;
}
// Turn On Dark Theme
.darktheme{
  --primary-color:#262728;
  --secondary-color:#ff0000;
}

body{
  background-color: var(--primary-color);
}

.card {
  transition: transform 0.2s ease;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  border-radius: 0;
  border: 0;
  margin-bottom: 1.5em;
  background-color: var(--primary-color);
}

.card:hover {
  transform: scale(1.1);
}

#h2{
  letter-spacing: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: inherit
}
